@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stalemate&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  font-family: 'Raleway', sans-serif;
  color: #303030;
}

.custom-nav {
  background-color: #F7F3F0;
  border-bottom: 1px solid #303030;
}

.custom-nav h1 {
  font-family: 'Stalemate', cursive;
  color: #303030;
}

.custom-nav li a {
  font-weight: 600;
  text-transform: uppercase;
  color: #303030;
}

.custom-card {
  box-shadow: 0px 19px 38px rgba(207, 144, 102, 0.2), 0px 15px 12px rgba(207, 144, 102, 0.1);
  border: none;
  border-radius: 25px;
}

.card-img-style {
  border-radius: 25px 25px 0 0;
}

/* footer styling */
footer {
  border-top: 1px solid #303030;
}

footer h5 {
  font-family: 'Stalemate', cursive;
  color: #303030;
  font-size: 40px;
}