#featured-container {
  background: linear-gradient(#f7f3f0 60%, #fff 60%);;
}

#image-container {
  border-radius: 25px;
  max-height: 70vh;
  vertical-align: middle;
}

.subscribe-container {
  background-color: #F7F3F0;
  border-radius: 25px;
}