#featured-container {
  background-color: #F7F3F0;
}

#image-container {
  border-radius: 25px;
  min-height: 100%;
  vertical-align: middle;
}

.subscribe-container {
  background-color: #F7F3F0;
  border-radius: 25px;
}