{% extends 'base.html' %}

<!-- Styles block -->
{% block styles %}
  {{ super () }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content %}
  <div class="container-fluid mt-0" id="featured-container">
    <div class="container-xxl">

      <div class="row py-3">
        <div class="col-md-6">
          <h6>{{ posts[0].date_created.strftime('%Y-%m-%d') }}</h6>
          <h2>{{ posts[0].title }}</h2>
          <p>{{ posts[0].content | truncate(300) }}</p>
          <a href="/" class="btn btn-secondary">Read More</a>
          <div>
            <!-- Random quote from quote API -->
            <p>{{ quote.quote }}</p>
            <p>~ {{ quote.author }}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-10">
              <img id="image-container" src="{{ url_for('static', filename=posts[0].featured_img) }}" alt="Featured Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
 
    </div>
  </div>

  <div class="container-xxl">
    <div class="row d-flex align-items-center py-4 px-4 my-5 subscribe-container">
      <div class="col-md-6">
        <h3>Subscribe to blog via email</h3>
        <p class="mb-0">Get instant notification for new blog posts</p>
      </div>
      <div class="col-md-6">
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Enter Your Email Address" aria-label="Your email address" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container-xxl pb-5">
    <h2>Recent Blog Posts</h2>
    <div class="row">
      <div class="col-md-8">
        <!-- All posts -->
        {% for post in posts %}
        <div class="card">
          <img src="{{ url_for('static', filename=post.featured_img) }}" class="card-img-top" alt="">
          <div class="card-body">
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.content | truncate(500)}}</p>
            <p class="card-text">by {{ post.user.username | title }} ----- {{ post.date_created.strftime('%Y-%m-%d') }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-md-3">
        <!-- New post button -->
        {% if current_user.is_authenticated %}
        <a href="/new-post2" class="btn text-center btn-primary">New Post</a>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}