{% extends 'base.html' %}

{% block content %}
  <!-- New post button -->
  {% if current_user.is_authenticated %}
    <a href="/new-post2" class="btn text-center btn-primary">New Post</a>
  {% endif %}

  <!-- All posts -->
  {% for post in posts %}
  <div>
    <img src="{{ url_for('static', filename=post.featured_img) }}" alt="">
  </div>
  <div>
    {{ post.content }}
  </div>
  <p>Posted by {{ post.user.username | title }}</p>
  <p class="text-muted">Posted on: {{ post.date_created.strftime('%Y-%m-%d') }}</p>
  {% endfor %}
  <!-- Random quote from quote API -->
  <p>{{ quote.quote }}</p>
  <p>~ {{ quote.author }}</p>

{% endblock %}