<div class="container-fluid custom-nav">
  <nav>
    <a class="text-decoration-none" href="/"><h1 class="text-center display-1 pt-3 mb-0">this.Is.me</h1></a>
    <div class="d-flex justify-content-end px-2">
      <ul class="d-flex gap-5 list-unstyled mb-0">
        {% if current_user.is_authenticated %}
        <li><a class="text-decoration-none" href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
        <li><a class="text-decoration-none" href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a class="text-decoration-none" href="{{url_for('auth.login')}}">Sign in</a></li>
        {%endif%}
      </ul>
    </div>
  </nav>
  <!-- <hr> -->
</div>